/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set the color variables */
:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);    
}

body {
    background-color: var(--Eggshell);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
    border: solid;
    color: var(--WengeBrown);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 2;
    
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    background-color: var(--White);
    border-radius: 15px;
    padding: 2rem;
    gap: 1rem;
}

.container > img {
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.pinkbox {
    background-color: var(--RoseWhite);
    padding: 1rem;
    border-radius: 10px;
}

h1, h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: var(--Nutmeg);
    
}

h1 {
    color: var(--DarkCharcoal);
}

h3 {
    color: var(--DarkRaspberry);
}

ul, ol{
    list-style-type: none;
    padding: 5px;
  }
  
ul li, 
ol li{
    position: relative;
    padding-left: 30px; 
    color: var(--WengeBrown); 
  }
  
ul li::before {
    content: '•'; 
    color: var(--Nutmeg); 
    position: absolute;
    left: 0;
    font-weight: 600;
  }

ol li::before {
    content: counter(list-item)".";
    color: var(--Nutmeg);
    position: absolute;
    left: 0;
    font-weight: 600;
}

table {
    /* border: solid; */
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

hr {
    border: 1px solid var(--LightGrey);
}
  